<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag [
    'underscore.js',
    'jquery.js',
    'backbone.js',
    'pusher.js',
    'application.js'
  ] %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="todoapp">
    <%= yield %>
  </div>
  <ul id="instructions">
    <li>Double-click to edit a todo,</li>
    <li>Enter to add the item in the textarea,</li>
    <li>Read the <a href="#" title="Our write-up about how we did this, and how you can do the same">blog post</a>.</li>
  </ul>
  <div id="credits">
    <p>
      Created by
      <br />
      <a href="http://jgn.me/">Jérôme Gravel-Niquet</a>
    </p>
    <p>
      Modified for Realtime by
      <br />
      <a href="http://pusher.com" title="Pusher: A simple way to add realtime push to your web applications">the <em>Pusherinos</em></a>
    </p>
  </div>
</body>
</html>
