<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag [
    'underscore.js',
    'jquery.js',
    'backbone.js',
    'backpusher.js',
    'pusher.js',
    'application.js'
  ] %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="todoapp">
    <%= yield %>
  </div>
  <div id="instructions">
    <p>
      Read the <a href="#" title="Article on our blog about how we did this and how you can do the same">Blog Post</a> or <a href="https://github.com/pusher/backbone-todo-app" title="Get the source code to this application">Get The Code</a>.
    </p>
  </div>
  <div id="credits">
    <p>
      Created by
      <br />
      <a href="http://jgn.me/" title="Visit Jérôme Gravel-Niquet's Website">Jérôme Gravel-Niquet</a>
    </p>
    <p>
      Modified for Realtime by
      <br />
      <a href="http://pusher.com" title="Pusher: A simple way to add realtime push to your web applications">the <em>Pusherinos</em></a>
    </p>
    <p class="wide">
      Icons by <a href="http://somerandomdude.com/projects/iconic/" title="@Somerandomdude did the icons we used in the interface to this demo">@somerandomdude</a>.
    </p>
  </div>
</body>
</html>
